{{>header language=language}}
<h1>Invitation à donner un feedback</h1>
<p class="ligne"></p>
<p>
    Bonjour, <b>{{firstname}} {{lastname}}</b>.
</p>
<p>
    Pour ce faire, il te suffit de <b>créer ton compte :</b>
</p>
<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
    <tbody>
    <tr>
        <td align="center">
            <table border="0" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td><a href="{{invitation_url}}" target="_blank">Je crée mon compte</a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<p>
    Pour en savoir plus sur X-Impact, n'hésite pas à consulter <a href="http://impact.xebia.fr">notre site</a>.
</p>
<p>Xebia</p>
{{>footer}}
